# ------------------------------------------------------------------------------
# Ignore these until I knkow where to put them
# ------------------------------------------------------------------------------

ac-comphist.dat
bookmarks
org-clock-save.el
abbrev_defs

# ------------------------------------------------------------------------------
# Too big to push to git
# ------------------------------------------------------------------------------

.cask/
.cask


# ------------------------------------------------------------------------------
# Machine Specific
# ------------------------------------------------------------------------------

.DS_Store
.local
*~
.emacs.desktop
.emacs.desktop.lock
.DS_Store
previous.emacs.d/
machine-specific/


# ------------------------------------------------------------------------------
# If Generated, Ignore.
# ------------------------------------------------------------------------------

custom.el
eshell/

# ------------------------------------------------------------------------------
# Connections
# ------------------------------------------------------------------------------

tramp

# ------------------------------------------------------------------------------
# ????????
# ------------------------------------------------------------------------------

*ido session*
 *ido session*
ido.last/
ido.last
auto-save-list/
auto-save-list
diary
journal/