
# Too big to push to git--------------------------------------------------------
.cask/
.cask

# Machine Specific--------------------------------------------------------------
.emacs.desktop
.emacs.desktop.lock
.DS_Store
old.emacs.d/
old.emacs.d
*~

# Shouldn't Be Made-------------------------------------------------------------
custom.el

# ???---------------------------------------------------------------------------
ido.last/
ido.last
auto-save-list/
auto-save-list
diary
journal/